<%-include("./partials/head")%>
<!-- cargas de css -->
<link rel="stylesheet" href="css/autenticacion.css">
<%-include("./partials/closeHead")%>

<!-- HTML -->
<div class="alert alert-danger esconderError w-75 m-auto mt-3  " role="alert" id="msjError">
  mensaje
</div>


<main class=" w-100 m-auto contenedor formularioSesion mt-5">
    <form action="/login" method="post">
      <img class="mb-4 logo" src="img/logo.png" alt="">
      <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control mb-3" id="floatingInput" name="email" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control mb-2" id="floatingPassword" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-success mb-3" type="submit">Ingresar</button>
      <a class="w-100 btn btn-lg btn-dark" href="/register">Registrarse</a>
      <p class="mt-5 mb-3 text-muted">© by XP =)</p>
    </form>
  </main>

<!-- cargas de js -->
<script src="js/getToken.js"></script>
<%-include("./partials/foot")%>
