/*para el tamaño del logo*/
.logo{
    width: 200px;
}
/*para el ancho del formulario*/
.formularioSesion{
    max-width: 400px;
    padding: 25px;
}
.esconderError{
    display:none;
}
.mostrarError{
    display:block;
}
.textoError{
    color:red;
}
